/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.max-width-600 {
  max-width: 600px;
  margin: 0 auto;
}


body {
  background-position: center;
  background-size: cover;
  text-shadow: 0px 0px 4px black;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.glass-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}

.glass-todo-item {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}

.temp-label {
  color: blue;
}

/* When toggled */
#tempSwitch:checked + .temp-label {
  color: red;
}

.my-custom-li {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}


.description-label {
    /* To help with the message not to overflow*/
  max-width: 90%;           /* Prevents overflow */
  white-space: normal;      /* Allows wrapping */
  word-break: break-word;   /* Breaks long words */
  text-align: center;       /* Centers text */
  display: block;           /* Ensures it fills the container width */
  margin: 0 auto;           /* Centers the badge horizontally */
}